html {
background-color: bisque;
}

body {
display: flex; 
justify-content: center;
align-items: center;
font-size: larger;
font-family: retro_computerregular;
}

.first-display{
    border: 2px solid black;
    height: 50px;
    font-size: 32px ;
}

.second-display{
    border: 2px solid black;
    height: 40px;
    font-size: 30px;
}

.first-display, .second-display{
    display: flex;
    justify-content: flex-end;
    color: #00ff00;
    background-color: black;
}

.calculator {
    border: 3px solid black ;
    border-radius: 2%;
    padding: 20px;
    background-color: grey;
    width: 500px;
    margin-top: 200px;
}

button {
    font-size: 30px;
    font-family: retro_computerregular;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.big-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.special-action {
    font-size: 25px;
}

.calculator > * {
    gap: 19px;
    padding: 10px 0px;
}

@font-face {
    font-family: 'retro_computerregular';
    src: url('retro_computer_personal_use-webfont.woff2') format('woff2'),
         url('retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
